#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Line_1 {
  rotation: 321.0;
  margin-left: 7px;
  margin-top: -30px;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Line_3 {
  rotation: 225.0;
  margin-left: 10px;
  margin-top: -37px;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Line_4 {
  rotation: 45.0;
  margin-left: 9px;
  margin-top: -32px;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Line_5 {
  rotation: 142.0;
  margin-left: 7px;
  margin-top: -32px;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Button_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Button_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}