#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 > #alignmentBox {
  position: relative;
  max-width: 1280px;
  max-height: 800px;
  width: 100%;
  height: 100%;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Image_1 {
  position: absolute;
  width: 453px;
  height: 263px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Image_1 > img, #s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Image_1 > svg {
  height: 263px;
  width: 453px;
  box-shadow: none;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Button_2 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  box-shadow: none;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Button_2 {
  position: absolute;
  width: 75px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Button_2 > .clipping, #s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Button_2 > .paddingLayer {
  height: 18px;
  width: 73px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Button_2 span {
  color: #FF00FF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FF00FF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Button_3 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  box-shadow: none;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Button_3 {
  position: absolute;
  width: 89px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Button_3 > .clipping, #s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Button_3 > .paddingLayer {
  height: 20px;
  width: 87px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Button_3 span {
  color: #FF00FF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Button_3 span#rtr-s-Button_3_0 {
  color: #FF00FF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Text_1 > .clipping, #s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Text_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Text_1 span {
  color: #FFFF00;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FFFF00;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Text_2 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Text_2 > .clipping, #s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Text_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Text_2 span {
  color: #FFFF00;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #FFFF00;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Button_4 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: transparent;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  box-shadow: none;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Button_4 {
  position: absolute;
  width: 57px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Button_4 > .clipping, #s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Button_4 > .paddingLayer {
  height: 17px;
  width: 55px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Button_4 span {
  color: #663FFB;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Button_4 span#rtr-s-Button_4_0 {
  color: #663FFB;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Image_2 {
  position: absolute;
  width: 415px;
  height: 311px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Image_2 > img, #s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Image_2 > svg {
  height: 311px;
  width: 415px;
  box-shadow: none;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Image_3 {
  position: absolute;
  width: 417px;
  height: 313px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Image_3 > img, #s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Image_3 > svg {
  height: 311px;
  width: 415px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  box-shadow: none;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #shapewrapper-s-Line_1 marker {
  fill: #FF0000;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #shapewrapper-s-Line_1 {
  position: absolute;
  width: 95px;
  height: 11px;
  -webkit-transform: rotate(321deg);
  -moz-transform: rotate(321deg);
  transform: rotate(321deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Line_1 {
  width: 95px;
  height: 9px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #FF0000;
  box-shadow: none;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #shapewrapper-s-Line_3 marker {
  fill: #FF0000;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #shapewrapper-s-Line_3 {
  position: absolute;
  width: 105px;
  height: 11px;
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  transform: rotate(225deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Line_3 {
  width: 105px;
  height: 9px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #FF0000;
  box-shadow: none;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #shapewrapper-s-Line_4 marker {
  fill: #FF0000;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #shapewrapper-s-Line_4 {
  position: absolute;
  width: 93px;
  height: 11px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Line_4 {
  width: 93px;
  height: 9px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #FF0000;
  box-shadow: none;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #shapewrapper-s-Line_5 marker {
  fill: #FF0000;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #shapewrapper-s-Line_5 {
  position: absolute;
  width: 102px;
  height: 11px;
  -webkit-transform: rotate(142deg);
  -moz-transform: rotate(142deg);
  transform: rotate(142deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Line_5 {
  width: 102px;
  height: 9px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #FF0000;
  box-shadow: none;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Text_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Text_3 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Text_3 > .clipping, #s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Text_3 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Text_3 span {
  color: #FFFF00;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #FFFF00;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Button_1 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: transparent;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  box-shadow: none;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Button_1 {
  position: absolute;
  width: 68px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Button_1 > .clipping, #s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Button_1 > .paddingLayer {
  height: 16px;
  width: 66px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Button_1 span {
  color: #663BC9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #663BC9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Button_5 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: transparent;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  box-shadow: none;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Button_5 {
  position: absolute;
  width: 33px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Button_5 > .clipping, #s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Button_5 > .paddingLayer {
  height: 16px;
  width: 31px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Button_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Button_5 span {
  color: #FD6721;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Button_5 span#rtr-s-Button_5_0 {
  color: #FD6721;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Button_6 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: transparent;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  box-shadow: none;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Button_6 {
  position: absolute;
  width: 44px;
  height: 17px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Button_6 > .clipping, #s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Button_6 > .paddingLayer {
  height: 15px;
  width: 42px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Button_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Button_6 span {
  color: #FD6721;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Button_6 span#rtr-s-Button_6_0 {
  color: #FD6721;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Button_7 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FF0000;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FF0000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FF0000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FF0000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FF0000;
  box-shadow: none;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Button_7 {
  position: absolute;
  width: 24px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Arial',Arial;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Button_7 > .clipping, #s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Button_7 > .paddingLayer {
  height: 18px;
  width: 22px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Button_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Button_7 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Button_7 span#rtr-s-Button_7_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Image_5 {
  position: absolute;
  width: 253px;
  height: 159px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Image_5 > img, #s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Image_5 > svg {
  height: 159px;
  width: 253px;
  box-shadow: none;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Image_4 {
  position: absolute;
  width: 341px;
  height: 172px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Image_4 > img, #s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Image_4 > svg {
  height: 172px;
  width: 341px;
  box-shadow: none;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Image_6 {
  position: absolute;
  width: 34px;
  height: 29px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Image_6 > img, #s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Image_6 > svg {
  height: 29px;
  width: 34px;
  box-shadow: none;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Image_7 {
  position: absolute;
  width: 34px;
  height: 29px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Image_7 > img, #s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Image_7 > svg {
  height: 29px;
  width: 34px;
  box-shadow: none;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Image_8 {
  position: absolute;
  width: 415px;
  height: 312px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Image_8 > img, #s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Image_8 > svg {
  height: 312px;
  width: 415px;
  box-shadow: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}