#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -ms-transform: rotate(0.0deg);
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Button_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -ms-transform: rotate(0.0deg);
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Button_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Line_1 {
  stroke-width: 2px;
  stroke: #FF0000;
  -ms-transform: rotate(321.0deg);
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Line_1 {
  stroke-width: 2px;
  stroke: #FF0000;
  -ms-transform: rotate(321.0deg);
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Line_3 {
  stroke-width: 2px;
  stroke: #FF0000;
  -ms-transform: rotate(225.0deg);
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Line_3 {
  stroke-width: 2px;
  stroke: #FF0000;
  -ms-transform: rotate(225.0deg);
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Line_4 {
  stroke-width: 2px;
  stroke: #FF0000;
  -ms-transform: rotate(45.0deg);
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Line_4 {
  stroke-width: 2px;
  stroke: #FF0000;
  -ms-transform: rotate(45.0deg);
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Line_5 {
  stroke-width: 2px;
  stroke: #FF0000;
  -ms-transform: rotate(142.0deg);
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Line_5 {
  stroke-width: 2px;
  stroke: #FF0000;
  -ms-transform: rotate(142.0deg);
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Button_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Button_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Button_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FF0000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FF0000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FF0000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FF0000;
  -ms-transform: rotate(0.0deg);
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-2c8a5a68-0c0d-42d5-814c-e75fc17bf7e1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}