#s-4c4e90c5-f8fb-4240-86a1-e7bc4ccab8cd #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c4e90c5-f8fb-4240-86a1-e7bc4ccab8cd #s-Line_1 {
  rotation: 180.0;
  margin-left: -1px;
  margin-top: -2px;
}
#s-4c4e90c5-f8fb-4240-86a1-e7bc4ccab8cd #s-Triangle_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-4c4e90c5-f8fb-4240-86a1-e7bc4ccab8cd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}