#s-4ee6419e-01f1-45ce-9d0e-70c3f5deb05f #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-4ee6419e-01f1-45ce-9d0e-70c3f5deb05f #s-Line_1 {
  stroke-width: 2px;
  stroke: #663FFB;
  -ms-transform: rotate(180.0deg);
}
#s-4ee6419e-01f1-45ce-9d0e-70c3f5deb05f #s-Line_1 {
  stroke-width: 2px;
  stroke: #663FFB;
  -ms-transform: rotate(180.0deg);
}
#s-4ee6419e-01f1-45ce-9d0e-70c3f5deb05f #s-Triangle_1 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(180.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-4ee6419e-01f1-45ce-9d0e-70c3f5deb05f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}