#s-a6a8f371-ce5c-4205-8de7-52107f9a373f #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a6a8f371-ce5c-4205-8de7-52107f9a373f #s-Line_1 {
  stroke-width: 5px;
  stroke: #FD6ACB;
  -ms-transform: rotate(359.0deg);
}
#s-a6a8f371-ce5c-4205-8de7-52107f9a373f #s-Line_1 {
  stroke-width: 5px;
  stroke: #FD6ACB;
  -ms-transform: rotate(359.0deg);
}
#s-a6a8f371-ce5c-4205-8de7-52107f9a373f #s-Line_2 {
  stroke-width: 7px;
  stroke: #FFFF00;
  -ms-transform: rotate(180.0deg);
}
#s-a6a8f371-ce5c-4205-8de7-52107f9a373f #s-Line_2 {
  stroke-width: 7px;
  stroke: #FFFF00;
  -ms-transform: rotate(180.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-a6a8f371-ce5c-4205-8de7-52107f9a373f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}