#s-da27263f-9508-4c26-916b-a2d7371814aa #s-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da27263f-9508-4c26-916b-a2d7371814aa #s-Text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da27263f-9508-4c26-916b-a2d7371814aa #s-menu {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da27263f-9508-4c26-916b-a2d7371814aa #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da27263f-9508-4c26-916b-a2d7371814aa #s-Item_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da27263f-9508-4c26-916b-a2d7371814aa #s-Item_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da27263f-9508-4c26-916b-a2d7371814aa #s-Line_1 {
  rotation: 149.0;
  margin-left: 3px;
  margin-top: -24px;
}
#s-da27263f-9508-4c26-916b-a2d7371814aa #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da27263f-9508-4c26-916b-a2d7371814aa #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da27263f-9508-4c26-916b-a2d7371814aa #s-Line_2 {
  rotation: 272.0;
  margin-left: 16px;
  margin-top: -19px;
}
#s-da27263f-9508-4c26-916b-a2d7371814aa #s-Line_3 {
  rotation: 28.0;
  margin-left: 7px;
  margin-top: -42px;
}
#s-da27263f-9508-4c26-916b-a2d7371814aa #s-raised_Button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da27263f-9508-4c26-916b-a2d7371814aa #s-raised_Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da27263f-9508-4c26-916b-a2d7371814aa #s-raised_Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da27263f-9508-4c26-916b-a2d7371814aa #s-Line_4 {
  rotation: 45.0;
  margin-left: 3px;
  margin-top: -17px;
}
#s-da27263f-9508-4c26-916b-a2d7371814aa #s-Line_5 {
  rotation: 2.0;
  margin-left: -1px;
  margin-top: -1px;
}
#s-da27263f-9508-4c26-916b-a2d7371814aa #s-Line_6 {
  rotation: 327.0;
  margin-left: 0px;
  margin-top: -11px;
}
#s-da27263f-9508-4c26-916b-a2d7371814aa #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da27263f-9508-4c26-916b-a2d7371814aa #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-da27263f-9508-4c26-916b-a2d7371814aa > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}