#s-f3290229-0b36-4078-a48a-0f9ae3eede41 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f3290229-0b36-4078-a48a-0f9ae3eede41 #s-Line_3 {
  rotation: 217.0;
  margin-left: 2px;
  margin-top: -20px;
}
#s-f3290229-0b36-4078-a48a-0f9ae3eede41 #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f3290229-0b36-4078-a48a-0f9ae3eede41 #s-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f3290229-0b36-4078-a48a-0f9ae3eede41 #s-Text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f3290229-0b36-4078-a48a-0f9ae3eede41 #s-menu {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f3290229-0b36-4078-a48a-0f9ae3eede41 #s-Item_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f3290229-0b36-4078-a48a-0f9ae3eede41 #s-Item_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f3290229-0b36-4078-a48a-0f9ae3eede41 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f3290229-0b36-4078-a48a-0f9ae3eede41 #s-Line_5 {
  rotation: 154.0;
  margin-left: 2px;
  margin-top: -23px;
}
#s-f3290229-0b36-4078-a48a-0f9ae3eede41 #s-Ellipse_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f3290229-0b36-4078-a48a-0f9ae3eede41 #s-Line_6 {
  rotation: 26.0;
  margin-left: 2px;
  margin-top: -21px;
}
#s-f3290229-0b36-4078-a48a-0f9ae3eede41 #s-Ellipse_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f3290229-0b36-4078-a48a-0f9ae3eede41 #s-Line_7 {
  rotation: 217.0;
  margin-left: 2px;
  margin-top: -20px;
}
#s-f3290229-0b36-4078-a48a-0f9ae3eede41 #s-Ellipse_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f3290229-0b36-4078-a48a-0f9ae3eede41 #s-Ellipse_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f3290229-0b36-4078-a48a-0f9ae3eede41 #s-Line_8 {
  rotation: 334.0;
  margin-left: 4px;
  margin-top: -28px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-f3290229-0b36-4078-a48a-0f9ae3eede41 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}