#s-f3290229-0b36-4078-a48a-0f9ae3eede41 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f3290229-0b36-4078-a48a-0f9ae3eede41 #s-Line_3 {
  stroke-width: 2px;
  stroke: #C0C0C0;
  -ms-transform: rotate(217.0deg);
}
#s-f3290229-0b36-4078-a48a-0f9ae3eede41 #s-Line_3 {
  stroke-width: 2px;
  stroke: #C0C0C0;
  -ms-transform: rotate(217.0deg);
}
#s-f3290229-0b36-4078-a48a-0f9ae3eede41 #s-Ellipse_3 {
  -ms-transform: rotate(0.0deg);
}
#s-f3290229-0b36-4078-a48a-0f9ae3eede41 #s-Bg {
  -ms-transform: rotate(0.0deg);
}
#s-f3290229-0b36-4078-a48a-0f9ae3eede41 #s-Text {
  -ms-transform: rotate(0.0deg);
}
#s-f3290229-0b36-4078-a48a-0f9ae3eede41 #s-menu {
  -ms-transform: rotate(0.0deg);
}
#s-f3290229-0b36-4078-a48a-0f9ae3eede41 #s-Item_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f3290229-0b36-4078-a48a-0f9ae3eede41 #s-Item_2 {
  -ms-transform: rotate(0.0deg);
}
#s-f3290229-0b36-4078-a48a-0f9ae3eede41 #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-f3290229-0b36-4078-a48a-0f9ae3eede41 #s-Line_5 {
  stroke-width: 2px;
  stroke: #C0C0C0;
  -ms-transform: rotate(154.0deg);
}
#s-f3290229-0b36-4078-a48a-0f9ae3eede41 #s-Line_5 {
  stroke-width: 2px;
  stroke: #C0C0C0;
  -ms-transform: rotate(154.0deg);
}
#s-f3290229-0b36-4078-a48a-0f9ae3eede41 #s-Ellipse_5 {
  -ms-transform: rotate(0.0deg);
}
#s-f3290229-0b36-4078-a48a-0f9ae3eede41 #s-Line_6 {
  stroke-width: 2px;
  stroke: #C0C0C0;
  -ms-transform: rotate(26.0deg);
}
#s-f3290229-0b36-4078-a48a-0f9ae3eede41 #s-Line_6 {
  stroke-width: 2px;
  stroke: #C0C0C0;
  -ms-transform: rotate(26.0deg);
}
#s-f3290229-0b36-4078-a48a-0f9ae3eede41 #s-Ellipse_6 {
  -ms-transform: rotate(0.0deg);
}
#s-f3290229-0b36-4078-a48a-0f9ae3eede41 #s-Line_7 {
  stroke-width: 2px;
  stroke: #C0C0C0;
  -ms-transform: rotate(217.0deg);
}
#s-f3290229-0b36-4078-a48a-0f9ae3eede41 #s-Line_7 {
  stroke-width: 2px;
  stroke: #C0C0C0;
  -ms-transform: rotate(217.0deg);
}
#s-f3290229-0b36-4078-a48a-0f9ae3eede41 #s-Ellipse_7 {
  -ms-transform: rotate(0.0deg);
}
#s-f3290229-0b36-4078-a48a-0f9ae3eede41 #s-Ellipse_8 {
  -ms-transform: rotate(0.0deg);
}
#s-f3290229-0b36-4078-a48a-0f9ae3eede41 #s-Line_8 {
  stroke-width: 2px;
  stroke: #C0C0C0;
  -ms-transform: rotate(334.0deg);
}
#s-f3290229-0b36-4078-a48a-0f9ae3eede41 #s-Line_8 {
  stroke-width: 2px;
  stroke: #C0C0C0;
  -ms-transform: rotate(334.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-f3290229-0b36-4078-a48a-0f9ae3eede41 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}