#s-faa0e114-ef9d-412a-a974-346c4a5e2f17 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-faa0e114-ef9d-412a-a974-346c4a5e2f17 #s-Line_1 {
  stroke-width: 2px;
  stroke: #FFFF00;
  -ms-transform: rotate(180.0deg);
}
#s-faa0e114-ef9d-412a-a974-346c4a5e2f17 #s-Line_1 {
  stroke-width: 2px;
  stroke: #FFFF00;
  -ms-transform: rotate(180.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-faa0e114-ef9d-412a-a974-346c4a5e2f17 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}